@import '../../index.css';

.navbarCustom {
  background-color: #f8f9fa;
  border-bottom: 1px solid #E4D804; 
}



.navbar-nav .nav-item .nav-link:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* تأثير الظل */
  transform: scale(1.05); /* تكبير العنصر قليلاً */
}

.navbar-nav .nav-item .nav-link:focus {
  outline: 2px solid #f39c12; /* إضافة outline عند التركيز */
  outline-offset: 4px; /* تحريك الـ outline قليلاً */
}
