@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap");

body {
  background-color: #131722;
  color: #fff;
  font-family: "Montserrat Alternates", sans-serif;
}


.image-container img {
  width: 100%;
  height: auto;
  display: block;
}

.cursor-pointer {
  cursor: pointer;
}

.light-theme {
  background-color: #ffffff; 
  color: #000000;  
}

.light-theme .icon {
  color: #FFD700;  
}


.dark-theme {
  background-color: #333333;  
  color: #ffffff;  
}

.dark-theme .icon {
  color: #FFD700;  
}

.icon {
  margin-right: 8px;
  font-size: 18px;  
  color: #FFD700;   
}
