.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background-color: #131722;
    color: #f3fb15;
  }
  
  .icon {
    font-size: 17rem;
    color: #f3fb15;
        margin-bottom: 20px;
  }
  
  .title {
    font-size: 4rem;
    margin: 0;
  }
  
  .message {
    font-size: 1.5rem;
    margin: 10px 0;
    color:white;
  }
  
  .description {
    font-size: 1rem;
    color: white;
  }
  